body
{
	background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	

	font-family: 'Poiret One', cursive;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Lobster Two', cursive;
}

/* Nav ----------*/
.main-title
{
	color: rgb(42, 15, 194) !important;
	font-size: 26px;
}

/* Footer -------*/
footer
{
	background: rgb(2, 2, 2);
	text-align: center;
}

footer p
{
	text-align: justify;
}

ul.redes li
{
	display: inline-block;
}

ul.redes li a
{
	color: rgb(233, 53, 7);
}

.avatar
{
	background: rgb(12, 12, 12);
	border-radius: 50%;
	float: left;
	height: 100px;
	width: 100px;
}

/* Catalogo -------------*/
#products {
position: relative;
max-width: 100%;
width: 100%;
}
img {
width: 100%;
max-width: 100%;
height: auto;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.959);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

/* Detalle producto ---------*/
.product-block
{
	background: #fff;
	border-radius: 1em;
	padding: 1em;
}

/* Slider ----------*/
.navbar
{
	margin-bottom: 0;
}

/* Carrito -----------*/
.table-cart
{
	background: rgb(15, 4, 112);
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;
}

.table-cart img
{
	width: 50px;
}

/* Detalle del pedido ------------*/
.page
{
	background: #fff;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;
}